# Ignore environment files
vms-backend/.env
vms-frontend/.env

# Node modules
vms-backend/node_modules/
vms-frontend/node_modules/

# Build files
vms-frontend/dist/
vms-frontend/build/

# Logs
*.log

# System files
.DS_Store
Thumbs.db
